{{!-- 
  EM-TBS: /src/main/templates/components/ebs-action-nav.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

<a href="#" {{action 'click'}}>
  <span class="hidden-sm">
    <i {{bind-attr class="view.icon"}}></i> {{view.label}}
  </span>
  <span class="visible-sm">
    <i {{bind-attr class="view.icon :icon-large"}}></i>
  </span>
</a>