{{!-- 
  EM-TBS: /src/examples/templates/application.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#view EBS.NavbarView classNames="navbar-inverse" brand="Examples"}}
  {{#view view.NavView}}
    {{#linkTo "index" tagName="li"}}
      {{#linkTo "index"}}
        {{ebs-nav-item icon="icon-home" label="Home"}}
      {{/linkTo}}
    {{/linkTo}}
  {{/view}}

  {{view view.NavGroupView navItemsBinding='view.parentView.mainNavs'}}
{{/view}}

<h1>Hello World.</h1>