{{!-- 
  EM-TBS: /src/main/templates/ebs/form/checkbox.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <div class="checkbox col-md-offset-3">
    <label>
      {{view Ember.Checkbox
          viewName       = "checkbox"
          nameBinding    = "property"
          checkedBinding = "view.recordValue"
      }}

      {{label}}

      {{#if help}}
        <button type="button" data-toggle="popover" tabIndex="-1"
            class="btn btn-default btn-xs">
          <i class="icon-question-sign icon-large"></i>
        </button>
      {{/if}}
    </label>
  </div>

  {{#if view.errorMessage}}
    <p class="help-block">{{view.errorMessage}}</p>
  {{/if}}
{{/with}}
