{{!-- 
  EM-TBS: /src/main/templates/ebs/form/defaultRowActions.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

<button type="button" class="btn btn-sm btn-default"
    {{action edit view.parentView.row target="view.superView"}}>
  <i class="icon-edit icon-large"></i>
</button>
<button type="button" class="btn btn-sm btn-default"
    {{action remove view.parentView.row target="view.superView"}}>
  <i class="icon-remove icon-large"></i>
</button>
