{{!-- 
  EM-TBS: /src/main/templates/ebs/form/defaultForm.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#if view.legend}}<legend>{{view.legend}}</legend>{{/if}}

{{view view.componentsView
    contentBinding="view.components"
    modelBinding="view.model" }}

<div class="row">
  <div class="col-xs-4 col-sm-3">
    <button type="button" class="btn btn-default" {{action exit}}>
      <i class="icon-chevron-left"></i> Cancel
    </button>
  </div>
  <div class="col-xs-8 col-sm-9">
    {{#if canWrite}}
      <button type="submit" class="btn btn-primary">
        <i class="icon-save"></i> Save
      </button>
    {{/if}}
    {{#if canDelete}}
      <button type="button" class="btn btn-warning" {{action remove content}}>
        <i class="icon-trash"></i> Delete
      </button>
    {{/if}}
  </div>
</div>
