{{!-- 
  EM-TBS: /src/main/templates/ebs/form/editor.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label {{bind-attr for="view.textarea.elementId"}}>{{label}}</label>

  {{view Ember.View templateName="ebs/form/infoGroup"
      classNames="pull-right"}}

  <div class="clearfix"></div>

  {{#if view.isEditing}}
    {{view Ember.TextArea
        viewName   = "textarea"
        classNames = "form-control"
        rows       = "6"

        nameBinding        = "property"
        valueBinding       = "view.recordValue"
        requiredBinding    = "required"
        placeholderBinding = "placeholder"
        maxlengthBinding   = "maxLength"
        tabindexBinding    = "tabIndex"
    }}

    <p class="pull-left">
      <small style="font-weight: bold;">Uses
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">GitHub flavored Markdown</a> for styling.</small>
    </p>
    <button type="button" class="btn btn-default btn-sm pull-right"
        style="margin-top: 5px;" {{action preview target="view"}}>
      <i class="icon-eye-open icon-large"></i> Preview
    </button>
  {{else}}
    <div class="panel panel-default preview-panel">
      <div class="panel-body">
        {{marked view.recordValue}}
      </div>
    </div>
    <button type="button" class="btn btn-default btn-sm pull-right"
        style="margin-top: 5px;" {{action edit target="view"}}>
      <i class="icon-pencil icon-large"></i> Edit
    </button>
  {{/if}}
{{/with}}
