{{!-- 
  EM-TBS: /src/main/templates/ebs/form/infoGroup.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.parentView}}
  {{#if errorMessage}}
    <button type="button" tabIndex="-1" class="btn btn-error btn-xs"
        data-toggle="popover" {{bind-attr data-content=errorMessage}}>
      <i class="icon-exclamation icon-large"></i>
    </button>
  {{/if}}

  {{#with content}}
    {{#if help}}
      <button type="button" tabIndex="-1" class="btn btn-primary btn-xs"
          data-toggle="popover" {{bind-attr data-content=help}}>
        <i class="icon-question icon-large"></i>
      </button>
    {{/if}}
    {{#if info}}
      <button type="button" tabIndex="-1" class="btn btn-info btn-xs"
          data-toggle="popover" {{bind-attr data-content=info}}>
        <i class="icon-info icon-large"></i>
      </button>
    {{/if}}
  {{/with}}
{{/with}}
