{{!-- 
  EM-TBS: /src/main/templates/ebs/form/itemList.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label>{{label}}</label>
  {{view Ember.View templateName="ebs/form/infoGroup" classNames="pull-right"}}
  <div class="clearfix"></div>

  {{#if view.hasContent}}
    {{view EBS.BootstrapTableView
        headersBinding     = "headers"
        propertiesBinding  = "properties"
        mdPropsBinding     = "mdProps"
        showActionsBinding = "showActions"
        rowsBinding        = "view.listItems"
    }}
  {{/if}}

  <button type="button" class="btn btn-default" style="margin-bottom: 5px"
      {{action addItem target="view"}}>
    <i class="icon-plus"></i> Add
  </button>
{{/with}}
