{{!-- 
  EM-TBS: /src/main/templates/ebs/form/modalForm.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

<div class="modal-dialog">
  <div class="modal-content">
    <form
        {{bind-attr name="formName"}}
        {{action save on="submit" target="view"}}
        class="form-horizontal"
    >
      <div class="modal-header">
        <button type="button" class="close"
            {{action cancel target="view"}}>
          &times;
        </button>
        <h4 class="modal-title">{{view.content.typeLabel}}</h4>
      </div>

      <div class="modal-body">
        <div class="row-fluid">
          {{view view.componentsView contentBinding="view.components"
              modelBinding="view.model" viewName="children"}}
        </div>
      </div>

      <div class="modal-footer">
        {{#if view.parentView.showCancel}}
          <button type="button" class="btn btn-default"
              {{action cancel target="view"}}>
            <i class="icon-remove"></i> Cancel
          </button>
        {{/if}}

        <button type="submit" id="save" class="btn btn-primary">
          <i class="icon-pencil icon-white"></i> Save
        </button>
      </div>
    </form>
  </div>
</div>
