{{!-- 
  EM-TBS: /src/main/templates/ebs/form/numberfield.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label {{bind-attr for="view.numberfield.elementId"}}>{{label}}</label>

  {{view Ember.View templateName="ebs/form/infoGroup"
      classNames="pull-right"}}

  <div class="clearfix"></div>

  {{view Ember.TextField
      viewName   = "numberfield"
      classNames = "form-control"
      type       = "number"

      placeholderBinding = "placeholder"
      requiredBinding    = "required"
      tabindexBinding    = "tabIndex"
      nameBinding        = "property"
      valueBinding       = "view.recordValue"
      stepBinding        = "step"
      maxBinding         = "max"
      minBinding         = "min"
  }}
{{/with}}
