{{!-- 
  EM-TBS: /src/main/templates/ebs/form/simpleSelect.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label {{bind-attr for="view.select.elementId"}}>{{label}}</label>

  {{view Ember.View templateName="ebs/form/infoGroup"
      classNames="pull-right"}}

  <div class="clearfix"></div>

  {{#if view.canUpdate}}
    {{view Ember.Select
        viewName        = "select"
        classNames      = "form-control"
        nameBinding     = "property"
        valueBinding    = "view.recordValue"
        requiredBinding = "required"
        promptBinding   = "prompt"
        tabindexBinding = "tabIndex"
        contentBinding  = "items"
    }}
  {{else}}
    <span class="form-control">{{view.recordValue}}</span>
  {{/if}}
{{/with}}
