{{!-- 
  EM-TBS: /src/main/templates/ebs/form/textfield.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label {{bind-attr for="view.textfield.elementId"}}>{{label}}</label>

  {{view Ember.View templateName="ebs/form/infoGroup"
      classNames="pull-right"}}

  <div class="clearfix"></div>

  {{view Ember.TextField
      viewName   = "textfield"
      classNames = "form-control"

      nameBinding        = "property"
      valueBinding       = "view.recordValue"
      requiredBinding    = "required"
      placeholderBinding = "placeholder"
      maxlengthBinding   = "maxLength"
      tabindexBinding    = "tabIndex"
      disabledBinding    = "disabled"
  }}
  {{#if disabled}}
    {{view Ember.TextField
        type       = "hidden"
        viewName   = "hidden"
        classNames = "form-control"

        nameBinding  = "property"
        valueBinding = "view.recordValue"
    }}
  {{/if}}
{{/with}}
