{{!-- 
  EM-TBS: /src/main/templates/ebs/form/textarea.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#with view.content}}
  <label {{bind-attr for="view.textarea.elementId"}}>{{label}}</label>

  {{view Ember.View templateName="ebs/form/infoGroup"
      classNames="pull-right"}}

  <div class="clearfix"></div>

  {{view Ember.TextArea
      viewName   = "textarea"
      classNames = "form-control"
      rows       = "4"

      nameBinding        = "property"
      valueBinding       = "view.recordValue"
      requiredBinding    = "required"
      placeholderBinding = "placeholder"
      maxlengthBinding   = "maxLength"
      tabindexBinding    = "tabIndex"
  }}
{{/with}}
