{{!-- 
  EM-TBS: /src/main/templates/ebs/form/vanillaForm.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{view view.componentsView
  contentBinding="view.components"
    modelBinding="view.model"
}}
