{{!-- 
  EM-TBS: /src/main/templates/ebs/navbar.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

<div class="navbar-header">
  <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target="#header-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  {{#if view.brand}}
    {{#link-to 'index' classNames="navbar-brand"}}
      {{{view.brand}}}
    {{/link-to}}
  {{/if}}
</div>
<div id="header-collapse" class="collapse navbar-collapse">
  {{yield}}
</div>
