{{!-- 
  EM-TBS: /src/main/templates/ebs/navGroup.hbs
 
  Copyright 2013-2015 Serf Productions, LLC
  Licensed under MIT (/LICENSE)
--}}

{{#each nav in view.navItems}}
  {{#link-to nav.route tagName="li"}}
    {{#link-to nav.route}}
      {{ebs-nav-item icon=nav.icon label=nav.label}}
    {{/link-to}}
  {{/link-to}}
{{/each}}
